* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

.body {
    overflow-x: hidden;
}
.socialMedia-icon{
    color: #5834eb;
    opacity: 80%;
}

.active {
    color: #5834eb;
}

.content_1 {
    animation: moving .5s ease;
}

.content_2 {
    animation: moving .5s ease;
}

@keyframes moving {
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
}


.line {
    transition: all 0.25s ease-in-out;
}

